In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 50)

In [4]:
def get_dataframe():
    
    file_name = 'Output/dataset_filtered.csv'
    return pd.read_csv(file_name)

dataset = get_dataframe()
dataset

,Serial Id,Day Id,Status Day Id,Date Announced,Age Bracket,Gender,Detected State,Current Status,Status Change Date
0,1,0,0.0,30/01/2020,20,F,Kerala,Recovered,14/02/2020
1,2,0,0.0,02/02/2020,NaN,NaN,Kerala,Recovered,14/02/2020
2,3,0,0.0,03/02/2020,NaN,NaN,Kerala,Recovered,14/02/2020
3,4,1,14.0,02/03/2020,45,M,Delhi,Recovered,15/03/2020
4,5,1,1.0,02/03/2020,24,M,Telangana,Recovered,02/03/2020
...,...,...,...,...,...,...,...,...,...
702715,702716,476,NaN,20/06/2021,NaN,NaN,NaN,NaN,NaN
702716,702717,476,NaN,20/06/2021,NaN,NaN,NaN,NaN,NaN
702717,702718,476,NaN,20/06/2021,NaN,NaN,NaN,NaN,NaN
702718,702719,476,NaN,20/06/2021,NaN,NaN,NaN,NaN,NaN
702719,702720,476,NaN,20/06/2021,NaN,NaN,NaN,NaN,NaN

In [3]:
def get_template():
    '''Returns an empty dataframe with required columns'''
    
    columns = ['Day Id', 'Total Number of cases', 'Total Number of fatalities',
               'Total Number of cases(Females)', 'Total Number of cases(Males)',
               'Total Number of fatalities(Females)', 'Total Number of fatalities(Males)',
               
               'Age (1-10)', 'Age (11-20)', 'Age (21-30)', 'Age (31-40)', 'Age (41-50)', 
               'Age (51-60)', 'Age (61-70)', 'Age (71-80)', 'Age (81 and above)',
               
                'Age (1-10) Female', 'Age (11-20) Female', 'Age (21-30) Female', 'Age (31-40) Female', 'Age (41-50) Female', 
               'Age (51-60) Female', 'Age (61-70) Female', 'Age (71-80) Female', 'Age (81 and above) Female',
               
                'Age (1-10) Male', 'Age (11-20) Male', 'Age (21-30) Male', 'Age (31-40) Male', 'Age (41-50) Male', 
               'Age (51-60) Male', 'Age (61-70) Male', 'Age (71-80) Male', 'Age (81 and above) Male']
    
    return pd.DataFrame(columns=columns)

In [14]:
def each_row(day_from_first):
#     display(dataset['Current Status'].unique())
    required_df = dataset[dataset['Day Id'] == day_from_first]
    required_status_df = dataset[dataset['Status Day Id'] == day_from_first]
    
    required_df['Age Bracket'] = pd.to_numeric(required_df['Age Bracket'], errors='coerce')
    required_df['Age Bracket'] = required_df['Age Bracket'].astype('float')
#     display(required_df[required_df['Current Status'] == 'Deceased'])
    display(required_df.head(20))
    
    def get_covid_cases():
        return required_df.shape[0]

    def no_fatalities():
        return required_status_df[required_status_df['Current Status'] == 'Deceased'].shape[0]

    def no_cases_gender(gender):
        return required_df[required_df['Gender'] == gender].shape[0]

    def no_fatalities_gender(gender):
        gender_df = required_status_df[required_status_df['Gender'] == gender]
        
        return gender_df[gender_df['Current Status'] == 'Deceased'].shape[0]

    def get_age_distribution(lower, upper):
        return required_df[(required_df['Age Bracket'] >= lower) & (required_df['Age Bracket'] <= upper)].shape[0]
    
    def get_age_distribution_gender(gender, lower, upper):
        gender_df = required_df[required_df['Gender'] == gender]
        return gender_df[(gender_df['Age Bracket'] >= lower) & (gender_df['Age Bracket'] <= upper)].shape[0]
    

    new_row = dict()
    new_row['Day Id'] = day_from_first
    new_row['Total Number of cases'] = get_covid_cases()
    new_row['Total Number of cases(Males)'] = no_cases_gender('M')
    new_row['Total Number of cases(Females)'] = no_cases_gender('F')
    new_row['Total Number of fatalities'] = no_fatalities()
    new_row['Total Number of fatalities(Males)'] = no_fatalities_gender('M')
    new_row['Total Number of fatalities(Females)'] = no_fatalities_gender('F')
    
    for i in range(1, 81, 10):
        new_row[f'Age ({i}-{i+9})'] = get_age_distribution(i, i+9)
        new_row[f'Age ({i}-{i+9}) Female'] = get_age_distribution_gender('F', i, i+9)        
        new_row[f'Age ({i}-{i+9}) Male'] = get_age_distribution_gender('M', i, i+9)
    
    new_row['Age (81 and above)'] = get_age_distribution(81, 120)
    new_row['Age (81 and above) Female'] = get_age_distribution_gender('F', 81, 120)
    new_row['Age (81 and above) Male'] = get_age_distribution_gender('M', 81, 120)
    
#     print(new_row)
    return new_row
each_row(3)

,Serial Id,Day Id,Status Day Id,Date Announced,Age Bracket,Gender,Detected State,Current Status,Status Change Date
6,7,3,28.0,04/03/2020,55.0,NaN,Haryana,Recovered,29/03/2020
7,8,3,28.0,04/03/2020,55.0,NaN,Haryana,Recovered,29/03/2020
8,9,3,28.0,04/03/2020,55.0,NaN,Haryana,Recovered,29/03/2020
9,10,3,28.0,04/03/2020,55.0,NaN,Haryana,Recovered,29/03/2020
10,11,3,28.0,04/03/2020,55.0,NaN,Haryana,Recovered,29/03/2020
11,12,3,28.0,04/03/2020,55.0,NaN,Haryana,Recovered,29/03/2020
12,13,3,28.0,04/03/2020,55.0,NaN,Haryana,Recovered,29/03/2020
13,14,3,28.0,04/03/2020,55.0,NaN,Haryana,Recovered,29/03/2020
14,15,3,28.0,04/03/2020,55.0,NaN,Haryana,Recovered,29/03/2020
15,16,3,28.0,04/03/2020,55.0,NaN,Haryana,Recovered,29/03/2020
16,17,3,28.0,04/03/2020,55.0,NaN,Haryana,Recovered,29/03/2020
17,18,3,28.0,04/03/2020,55.0,NaN,Haryana,Recovered,29/03/2020
18,19,3,3.0,04/03/2020,55.0,NaN,Haryana,Hospitalized,04/03/2020
19,20,3,3.0,04/03/2020,55.0,NaN,Haryana,Hospitalized,04/03/2020
20,21,3,3.0,04/03/2020,70.0,F,Rajasthan,Recovered,04/03/2020
21,22,3,3.0,04/03/2020,NaN,M,Uttar Pradesh,Hospitalized,04/03/2020
22,23,3,14.0,04/03/2020,NaN,F,Uttar Pradesh,Recovered,15/03/2020
23,24,3,14.0,04/03/2020,45.0,F,Uttar Pradesh,Recovered,15/03/2020
24,25,3,14.0,04/03/2020,NaN,M,Uttar Pradesh,Recovered,15/03/2020
25,26,3,14.0,04/03/2020,16.0,M,Uttar Pradesh,Recovered,15/03/2020

{'Day Id': 3,
 'Total Number of cases': 22,
 'Total Number of cases(Males)': 3,
 'Total Number of cases(Females)': 3,
 'Total Number of fatalities': 0,
 'Total Number of fatalities(Males)': 0,
 'Total Number of fatalities(Females)': 0,
 'Age (1-10)': 0,
 'Age (1-10) Female': 0,
 'Age (1-10) Male': 0,
 'Age (11-20)': 1,
 'Age (11-20) Female': 0,
 'Age (11-20) Male': 1,
 'Age (21-30)': 0,
 'Age (21-30) Female': 0,
 'Age (21-30) Male': 0,
 'Age (31-40)': 0,
 'Age (31-40) Female': 0,
 'Age (31-40) Male': 0,
 'Age (41-50)': 1,
 'Age (41-50) Female': 1,
 'Age (41-50) Male': 0,
 'Age (51-60)': 14,
 'Age (51-60) Female': 0,
 'Age (51-60) Male': 0,
 'Age (61-70)': 1,
 'Age (61-70) Female': 1,
 'Age (61-70) Male': 0,
 'Age (71-80)': 0,
 'Age (71-80) Female': 0,
 'Age (71-80) Male': 0,
 'Age (81 and above)': 0,
 'Age (81 and above) Female': 0,
 'Age (81 and above) Male': 0}

In [12]:
def append_row():
    day_id = dataset['Day Id'].unique()
#     day_id = [100]
    processed_df = get_template()
    for day in day_id:
        processed_df = processed_df.append(each_row(day), ignore_index=True, sort=False)
    display(processed_df)
    
append_row()

,Day Id,Total Number of cases,Total Number of fatalities,Total Number of cases(Females),Total Number of cases(Males),Total Number of fatalities(Females),Total Number of fatalities(Males),Age (1-10),Age (11-20),Age (21-30),Age (31-40),Age (41-50),Age (51-60),Age (61-70),Age (71-80),Age (81 and above),Age (1-10) Female,Age (11-20) Female,Age (21-30) Female,Age (31-40) Female,Age (41-50) Female,Age (51-60) Female,Age (61-70) Female,Age (71-80) Female,Age (81 and above) Female,Age (1-10) Male,Age (11-20) Male,Age (21-30) Male,Age (31-40) Male,Age (41-50) Male,Age (51-60) Male,Age (61-70) Male,Age (71-80) Male,Age (81 and above) Male
0,0,3,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,2,0,0,2,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
2,2,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,3,22,0,3,3,0,0,0,1,0,0,1,14,1,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0
4,4,2,0,0,2,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,472,1741,0,58,91,0,0,0,1,4,5,16,30,38,36,19,0,0,1,0,7,15,11,15,9,0,1,3,5,9,15,27,21,10
473,473,1662,0,40,51,0,0,0,0,0,7,8,15,25,25,11,0,0,0,4,2,9,8,14,3,0,0,0,3,6,6,17,11,8
474,474,1651,0,40,52,0,0,0,0,1,3,8,13,31,23,13,0,0,1,1,2,5,11,12,8,0,0,0,2,6,8,20,11,5
475,475,1653,0,37,80,0,0,0,0,0,7,17,17,30,25,21,0,0,0,2,5,3,13,10,4,0,0,0,5,12,14,17,15,17
476,476,321,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0