In [1]:
import pandas as pd
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 80)
pd.set_option('display.max_rows', 1000)

In [6]:
def get_dataframe(name):
    
    file_name = f'Output/{name}.csv'
    return pd.read_csv(file_name)

dataset_ind = get_dataframe('individual record')
dataset = get_dataframe('dataset_filtered')

In [19]:
def get_template_extended():
    '''Returns an empty dataframe with required columns'''
    
    columns = ['State', 'District','Total Number of cases', 'Total Number of fatalities',
               'Total Number of cases(Females)', 'Total Number of cases(Males)',
               'Total Number of fatalities(Females)', 'Total Number of fatalities(Males)',
               
               'Age (1-10)', 'Age (11-20)', 'Age (21-30)', 'Age (31-40)', 'Age (41-50)', 
               'Age (51-60)', 'Age (61-70)', 'Age (71-80)', 'Age (81 and above)',
               
               'Age (1-10) Female', 'Age (11-20) Female', 'Age (21-30) Female', 'Age (31-40) Female', 'Age (41-50) Female', 
               'Age (51-60) Female', 'Age (61-70) Female', 'Age (71-80) Female', 'Age (81 and above) Female',
               
               'Age (1-10) Male', 'Age (11-20) Male', 'Age (21-30) Male', 'Age (31-40) Male', 'Age (41-50) Male', 
               'Age (51-60) Male', 'Age (61-70) Male', 'Age (71-80) Male', 'Age (81 and above) Male',
               
               'Age (1-10) Fatalities', 'Age (11-20) Fatalities', 'Age (21-30) Fatalities', 'Age (31-40) Fatalities', 'Age (41-50) Fatalities', 
               'Age (51-60) Fatalities', 'Age (61-70) Fatalities', 'Age (71-80) Fatalities', 'Age (81 and above) Fatalities',
               
               'Age (1-10) Female Fatalities', 'Age (11-20) Female Fatalities', 'Age (21-30) Female Fatalities', 'Age (31-40) Female Fatalities', 'Age (41-50) Female Fatalities', 
               'Age (51-60) Female Fatalities', 'Age (61-70) Female Fatalities', 'Age (71-80) Female Fatalities', 'Age (81 and above) Female Fatalities',
               
               'Age (1-10) Male Fatalities', 'Age (11-20) Male Fatalities', 'Age (21-30) Male Fatalities', 'Age (31-40) Male Fatalities', 'Age (41-50) Male Fatalities', 
               'Age (51-60) Male Fatalities', 'Age (61-70) Male Fatalities', 'Age (71-80) Male Fatalities', 'Age (81 and above) Male Fatalities',
                     
              ]
    
    return pd.DataFrame(columns=columns)

In [20]:
def get_row_extended(state, district):

    df_ind = dataset_ind[dataset_ind['Detected District'] == district]
    df_total = dataset[dataset['Detected District'] == district]
#     display(df_total)
    
    def get_cases(df, gender=None):

        if gender:
            return df[df['Gender'] == gender].shape[0]
        return df['Num Cases'].sum()

    def get_fatalities(df, gender=None):
        df = df[df['Current Status'] == 'Deceased']
     
        if gender:
            return df[df['Gender'] == gender].shape[0]
        return df['Num Cases'].sum()
    
    def get_cases_distribution(df, lower, upper, gender=None):
        lower = str(lower); upper = str(upper)
#         df = df[df['Current Status'] == 'Hospitalized']
        df['Age Bracket'] = df['Age Bracket'].apply(str)
        df = df[(df['Age Bracket'] >= lower) & (df['Age Bracket'] <= upper)]

        if gender:
            return df[df['Gender'] == gender].shape[0]
        return df.shape[0]

    def get_fatalities_distribution(df, lower, upper, gender=None):
        lower = str(lower); upper = str(upper)
        df = df[df['Current Status'] == 'Deceased']
        df['Age Bracket'] = df['Age Bracket'].apply(str)
        df = df[(df['Age Bracket'] >= lower) & (df['Age Bracket'] <= upper)]
        
        if gender:
            return df[df['Gender'] == gender].shape[0]
        return df.shape[0]
        
    new_row = dict()
    new_row['State'] = state
    new_row['District'] = district
    new_row['Total Number of cases'] = get_cases(df_total)
    new_row['Total Number of cases(Males)'] = get_cases(df_ind, 'M')
    new_row['Total Number of cases(Females)'] = get_cases(df_ind, 'F')
    new_row['Total Number of fatalities'] = get_fatalities(df_total)
    new_row['Total Number of fatalities(Males)'] = get_fatalities(df_ind, 'M')
    new_row['Total Number of fatalities(Females)'] = get_fatalities(df_ind, 'F')
    
    for i in range(1, 81, 10):
        new_row[f'Age ({i}-{i+9})'] = get_cases_distribution(df_total, i, i+9)
        new_row[f'Age ({i}-{i+9}) Female'] = get_cases_distribution(df_ind, i, i+9, 'F')        
        new_row[f'Age ({i}-{i+9}) Male'] = get_cases_distribution(df_ind, i, i+9, 'M')
    
    new_row['Age (81 and above)'] = get_cases_distribution(df_total, 81, 120)
    new_row['Age (81 and above) Female'] = get_cases_distribution(df_ind, 81, 120, 'F')
    new_row['Age (81 and above) Male'] = get_cases_distribution(df_ind, 81, 120, 'M')
    
    
    for i in range(1, 81, 10):
        new_row[f'Age ({i}-{i+9}) Fatalities'] = get_fatalities_distribution(df_total, i, i+9)
        new_row[f'Age ({i}-{i+9}) Female Fatalities'] = get_fatalities_distribution(df_ind, i, i+9, 'F')        
        new_row[f'Age ({i}-{i+9}) Male Fatalities'] = get_fatalities_distribution(df_ind, i, i+9, 'M')
    
    new_row['Age (81 and above) Fatalities'] = get_fatalities_distribution(df_total, 81, 120)
    new_row['Age (81 and above) Female Fatalities'] = get_fatalities_distribution(df_ind, 81, 120, 'F')
    new_row['Age (81 and above) Male Fatalities'] = get_fatalities_distribution(df_ind, 81, 120, 'M')
 
    return new_row
    
get_row_extended('Karnataka', 'Udupi')

{'State': 'Karnataka',
 'District': 'Udupi',
 'Total Number of cases': 117778.0,
 'Total Number of cases(Males)': 1511,
 'Total Number of cases(Females)': 794,
 'Total Number of fatalities': 335.0,
 'Total Number of fatalities(Males)': 73,
 'Total Number of fatalities(Females)': 24,
 'Age (1-10)': 34,
 'Age (1-10) Female': 16,
 'Age (1-10) Male': 18,
 'Age (11-20)': 171,
 'Age (11-20) Female': 76,
 'Age (11-20) Male': 95,
 'Age (21-30)': 408,
 'Age (21-30) Female': 164,
 'Age (21-30) Male': 244,
 'Age (31-40)': 580,
 'Age (31-40) Female': 193,
 'Age (31-40) Male': 387,
 'Age (41-50)': 469,
 'Age (41-50) Female': 117,
 'Age (41-50) Male': 352,
 'Age (51-60)': 257,
 'Age (51-60) Female': 82,
 'Age (51-60) Male': 175,
 'Age (61-70)': 165,
 'Age (61-70) Female': 49,
 'Age (61-70) Male': 116,
 'Age (71-80)': 63,
 'Age (71-80) Female': 26,
 'Age (71-80) Male': 37,
 'Age (81 and above)': 0,
 'Age (81 and above) Female': 0,
 'Age (81 and above) Male': 0,
 'Age (1-10) Fatalities': 0,
 'Age (1-10) Female Fatalities': 0,
 'Age (1-10) Male Fatalities': 0,
 'Age (11-20) Fatalities': 2,
 'Age (11-20) Female Fatalities': 1,
 'Age (11-20) Male Fatalities': 1,
 'Age (21-30) Fatalities': 0,
 'Age (21-30) Female Fatalities': 0,
 'Age (21-30) Male Fatalities': 0,
 'Age (31-40) Fatalities': 4,
 'Age (31-40) Female Fatalities': 0,
 'Age (31-40) Male Fatalities': 4,
 'Age (41-50) Fatalities': 13,
 'Age (41-50) Female Fatalities': 5,
 'Age (41-50) Male Fatalities': 8,
 'Age (51-60) Fatalities': 15,
 'Age (51-60) Female Fatalities': 4,
 'Age (51-60) Male Fatalities': 11,
 'Age (61-70) Fatalities': 32,
 'Age (61-70) Female Fatalities': 5,
 'Age (61-70) Male Fatalities': 27,
 'Age (71-80) Fatalities': 17,
 'Age (71-80) Female Fatalities': 6,
 'Age (71-80) Male Fatalities': 11,
 'Age (81 and above) Fatalities': 0,
 'Age (81 and above) Female Fatalities': 0,
 'Age (81 and above) Male Fatalities': 0}

In [26]:
def add_rows(state):
    districts = dataset[dataset['Detected State'] == state]['Detected District'].unique()
    processed_df = get_template_extended()
    for district in districts:
        processed_df = processed_df.append(get_row_extended(state, district), ignore_index=True, sort=False)

    display(processed_df)
    return processed_df
    
processed_df = add_rows('Tamil Nadu')

,State,District,Total Number of cases,Total Number of fatalities,Total Number of cases(Females),Total Number of cases(Males),Total Number of fatalities(Females),Total Number of fatalities(Males),Age (1-10),Age (11-20),Age (21-30),Age (31-40),Age (41-50),Age (51-60),Age (61-70),Age (71-80),Age (81 and above),Age (1-10) Female,Age (11-20) Female,Age (21-30) Female,Age (31-40) Female,Age (41-50) Female,Age (51-60) Female,Age (61-70) Female,Age (71-80) Female,Age (81 and above) Female,Age (1-10) Male,Age (11-20) Male,Age (21-30) Male,Age (31-40) Male,Age (41-50) Male,Age (51-60) Male,Age (61-70) Male,Age (71-80) Male,Age (81 and above) Male,Age (1-10) Fatalities,Age (11-20) Fatalities,Age (21-30) Fatalities,Age (31-40) Fatalities,Age (41-50) Fatalities,Age (51-60) Fatalities,Age (61-70) Fatalities,Age (71-80) Fatalities,Age (81 and above) Fatalities,Age (1-10) Female Fatalities,Age (11-20) Female Fatalities,Age (21-30) Female Fatalities,Age (31-40) Female Fatalities,Age (41-50) Female Fatalities,Age (51-60) Female Fatalities,Age (61-70) Female Fatalities,Age (71-80) Female Fatalities,Age (81 and above) Female Fatalities,Age (1-10) Male Fatalities,Age (11-20) Male Fatalities,Age (21-30) Male Fatalities,Age (31-40) Male Fatalities,Age (41-50) Male Fatalities,Age (51-60) Male Fatalities,Age (61-70) Male Fatalities,Age (71-80) Male Fatalities,Age (81 and above) Male Fatalities
0,Tamil Nadu,Kancheepuram,128651.0,1030.0,136,230,0,3,3,17,81,87,44,41,17,9,0,2,7,34,22,17,12,10,2,0,1,10,47,65,27,29,7,7,0,0,0,0,1,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,2,0,0,0
1,Tamil Nadu,Chennai,977536.0,7517.0,5071,7829,55,115,61,944,2563,2442,2158,1722,877,423,0,26,412,1026,889,767,643,350,163,0,31,514,1478,1506,1351,1050,514,254,0,0,0,3,8,22,38,41,31,0,0,0,1,2,5,17,14,6,0,0,0,2,6,17,21,27,25,0
2,Tamil Nadu,Erode,146053.0,494.0,18,35,0,0,1,0,3,1,4,3,4,1,0,0,0,1,1,0,2,0,0,0,1,0,2,0,4,1,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Tamil Nadu,Coimbatore,376990.0,1753.0,22,66,0,0,0,0,4,16,11,4,1,0,0,0,0,1,2,3,0,0,0,0,0,0,3,14,8,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Tamil Nadu,Tirunelveli,87137.0,395.0,139,195,0,0,1,40,52,52,52,30,13,10,0,0,21,20,23,21,7,4,5,0,1,19,32,29,31,23,9,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,Tamil Nadu,Tiruppur,144182.0,621.0,3,15,0,0,0,0,1,0,2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,Tamil Nadu,Madurai,129354.0,1004.0,82,151,1,1,1,15,53,37,42,23,4,5,0,0,6,23,14,12,8,2,3,0,1,9,30,22,29,14,2,2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
7,Tamil Nadu,Chengalpattu,279879.0,2186.0,406,651,2,5,6,65,228,221,147,109,73,32,0,5,28,109,66,51,47,22,12,0,1,37,118,153,96,61,51,20,0,0,0,0,0,0,0,2,3,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,2,0
8,Tamil Nadu,Salem,151164.0,1220.0,50,113,0,0,0,14,32,46,22,20,8,1,0,0,5,10,15,5,8,1,0,0,0,9,22,31,17,12,7,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,Tamil Nadu,Ranipet,73775.0,583.0,14,63,0,1,0,1,10,15,9,5,2,0,0,0,0,4,0,3,0,0,0,0,0,1,5,15,5,5,2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
10,Tamil Nadu,Thanjavur,109272.0,627.0,13,28,0,0,0,0,8,11,4,6,2,0,0,0,0,3,4,1,2,1,0,0,0,0,4,7,3,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,Tamil Nadu,Vellore,85648.0,897.0,8,21,1,0,0,2,9,3,2,1,0,0,0,0,1,2,0,0,1,0,0,0,0,1,7,3,2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,Tamil Nadu,Virudhunagar,77907.0,446.0,27,73,0,0,0,11,22,19,15,13,6,0,0,0,3,9,8,3,1,2,0,0,0,8,13,11,12,11,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,Tamil Nadu,Karur,38490.0,306.0,4,32,0,0,0,1,2,6,10,8,0,1,0,0,0,1,2,1,0,0,0,0,0,1,1,4,9,8,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,Tamil Nadu,Viluppuram,74356.0,287.0,64,156,1,0,2,15,67,57,33,27,5,1,0,1,6,24,8,5,5,3,0,0,1,4,31,38,22,17,2,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
15,Tamil Nadu,Namakkal,77157.0,336.0,16,40,0,1,0,0,7,2,7,0,1,0,0,0,0,3,0,2,0,0,0,0,0,0,4,2,5,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
16,Tamil Nadu,Kanyakumari,103837.0,891.0,26,42,0,1,0,6,17,15,7,1,4,2,0,0,4,8,4,2,0,1,0,0,0,2,9,11,5,1,3,2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
17,Tamil Nadu,Theni,74596.0,447.0,39,59,0,0,0,3,15,15,10,8,9,6,0,0,2,8,3,1,2,2,2,0,0,1,7,12,9,6,7,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,Tamil Nadu,Dindigul,54483.0,528.0,13,61,0,0,0,1,19,15,9,5,2,0,0,0,0,1,5,1,0,1,0,0,0,1,16,9,5,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,Tamil Nadu,Sivaganga,30052.0,178.0,5,20,0,0,0,1,2,4,8,5,2,0,0,0,0,1,1,1,0,0,0,0,0,1,1,3,7,5,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20,Tamil Nadu,Thoothukkudi,97403.0,346.0,97,109,0,1,2,26,40,42,34,16,9,2,0,2,11,17,22,16,4,2,0,0,0,15,23,20,18,12,7,2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
21,Tamil Nadu,Tiruvannamalai,88555.0,524.0,162,212,0,2,2,39,85,94,47,27,19,8,0,1,15,45,38,19,9,10,2,0,1,24,38,53,25,18,9,6,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0
22,Tamil Nadu,Tirupathur,49580.0,505.0,6,18,0,0,0,2,6,4,7,0,0,0,0,0,0,1,0,2,0,0,0,0,0,2,5,4,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,Tamil Nadu,Thiruvarur,66339.0,279.0,1,19,0,0,0,2,9,2,1,2,1,0,0,0,0,1,0,0,0,0,0,0,0,2,8,2,1,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24,Tamil Nadu,Ramanathapuram,35244.0,304.0,23,41,1,0,1,12,21,4,4,10,2,2,0,0,4,8,1,0,2,1,2,0,1,8,12,3,4,8,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25,Tamil Nadu,Thiruvallur,203126.0,1572.0,286,540,5,9,1,37,208,171,117,96,49,19,0,0,18,82,33,55,31,19,8,0,1,19,124,138,61,64,29,11,0,0,0,1,0,3,3,6,0,0,0,0,0,0,2,1,2,0,0,0,0,1,0,1,2,4,0,0
26,Tamil Nadu,Nagapattinam,67877.0,449.0,2,21,0,0,0,0,2,2,5,3,1,1,0,0,0,0,0,1,0,0,1,0,0,0,2,2,4,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27,Tamil Nadu,Cuddalore,101228.0,668.0,65,214,1,0,1,17,97,99,74,32,5,1,0,0,3,23,16,7,2,2,0,0,0,8,47,50,47,19,3,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28,Tamil Nadu,Kallakurichi,45076.0,181.0,67,145,0,0,0,37,54,42,25,19,5,1,0,0,12,17,12,8,9,0,1,0,0,25,37,30,16,10,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29,Tamil Nadu,Perambalur,19797.0,179.0,29,57,0,0,0,6,32,29,16,14,0,0,0,0,2,15,6,2,0,0,0,0,0,3,14,16,11,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30,Tamil Nadu,Tiruchirappalli,124924.0,799.0,7,53,0,0,0,0,10,3,4,6,2,2,0,0,0,1,2,2,1,0,1,0,0,0,6,1,2,5,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
31,Tamil Nadu,Nilgiris,48512.0,124.0,1,12,0,0,0,0,3,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
32,Tamil Nadu,Ariyalur,25016.0,162.0,45,235,0,0,2,11,102,66,44,19,3,1,0,1,2,31,0,2,0,0,0,0,1,8,70,64,42,19,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
33,Tamil Nadu,Tenkasi,47517.0,434.0,19,23,0,0,0,4,8,5,11,6,4,1,0,0,2,3,1,5,2,1,1,0,0,1,4,4,5,4,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
34,Tamil Nadu,Dharmapuri,42321.0,176.0,1,8,0,0,0,0,5,3,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,4,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35,Tamil Nadu,NaN,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
36,Tamil Nadu,Krishnagiri,67441.0,256.0,12,11,0,0,0,3,3,7,0,4,1,0,0,0,1,2,2,0,3,0,0,0,0,2,1,5,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37,Tamil Nadu,Pudukkottai,47905.0,265.0,6,16,0,0,1,2,3,2,6,3,2,1,0,0,2,0,0,2,0,1,1,0,1,0,3,2,4,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
38,Tamil Nadu,Airport Quarantine,3908.0,2.0,17,73,0,0,0,3,25,31,7,9,3,1,0,0,2,6,4,1,3,0,0,0,0,1,18,26,6,5,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
39,Tamil Nadu,Railway Quarantine,812.0,0.0,44,107,0,0,0,19,34,37,22,11,5,1,0,0,6,11,7,6,2,1,1,0,0,13,23,30,16,9,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
40,Tamil Nadu,Other State,7718.0,262.0,7,21,1,3,0,1,5,3,4,5,6,2,0,0,0,1,0,0,2,4,0,0,0,1,4,3,4,3,2,2,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0
41,Tamil Nadu,TENKASI,2.0,0.0,2,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
42,Tamil Nadu,chennai,4.0,0.0,1,3,0,0,0,1,0,0,2,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
43,Tamil Nadu,CHENNAI,17.0,0.0,5,12,0,0,0,1,2,4,1,7,0,0,0,0,1,0,1,0,1,0,0,0,0,0,2,3,1,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
44,Tamil Nadu,Airport quarantine,4.0,0.0,2,2,0,0,0,0,3,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45,Tamil Nadu,KARUR,1.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
46,Tamil Nadu,chengalpattu,2.0,0.0,1,1,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
47,Tamil Nadu,MADURAI,8.0,0.0,3,5,0,0,0,1,0,1,1,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [27]:
def save_to_csv(df, name):
    path = f'Output/{name}.csv'
    df.to_csv(path, index=False)

save_to_csv(processed_df, 'TamilNadu_district_wise')